# Deployed Contract Addresses (0G Galileo Testnet — Chain ID 16602)
VITE_MARKET_V2_ADDRESS=0xA93b5bB49Ef86ceB8Cb06d06e984bAaf25683Ff0
VITE_DATASET_REGISTRY_ADDRESS=0x22eBC4856744a628d19992d12304C951c7F5E1aD
VITE_MODEL_REGISTRY_ADDRESS=0xed6Ba6EC7c9ada63e0b37f97a4cA36042E3D6698
VITE_PIPELINE_SUBSCRIPTION_ADDRESS=0x6952ec1f73626BdBF7BD8C549589710b25cfE622
VITE_DEVICE_REGISTRY_ADDRESS=0xae5f90a24513ca825a30C66aA279f5f363bdbbAb

# Backend Upload & Hardware Ingestion Relayer API
VITE_UPLOAD_API=http://localhost:3001

# Python AI & YOLO Training Microservice API
VITE_AI_SERVICE_API=http://localhost:8000

# WalletConnect & 0G Compute
VITE_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id_here
VITE_COMPUTE_API_KEY=your_compute_api_key_here
COMPUTE_ROUTER=https://router-api-testnet.integratenetwork.work/v1
