# Deployed Contract Addresses (0G Galileo Testnet — Chain ID 16602)
VITE_MARKET_V2_ADDRESS=0x5b3C320AD51e062b4F93E739470D2dfB7FF4071C
VITE_DATASET_REGISTRY_ADDRESS=0x8306ef2dfA1713c8053ae85e91a3319509F4fb9F
VITE_MODEL_REGISTRY_ADDRESS=0xaf4675D76a6B19F09b2c6e56Ab387Edb61d5DC78
VITE_PIPELINE_SUBSCRIPTION_ADDRESS=0x65f2af3CFfcF3e955dC0e93fd598dff93981bC63
VITE_DEVICE_REGISTRY_ADDRESS=0x5abD3a8206528c8Bc0a504fF9413B905ce755af7

# Backend Upload & Hardware Ingestion Relayer API
VITE_UPLOAD_API=http://localhost:3001

# Python AI & YOLO Training Microservice API
VITE_AI_SERVICE_API=http://localhost:8000

# WalletConnect & 0G Compute
VITE_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id_here
VITE_COMPUTE_API_KEY=your_compute_api_key_here
COMPUTE_ROUTER=https://router-api-testnet.integratenetwork.work/v1
